include ../mixins/sub-menu.pug
header.header
  .container
    nav.navbar.navbar-expand-lg.navbar-light
      a.navbar-brand.header__brand(href='/') VUKHANHSHOP
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav')
        span.navbar-toggler-icon
      .collapse.navbar-collapse.justify-content-center#navbarNav
        ul.navbar-nav
          li.nav-item
            a.nav-link.header__nav-link.header__nav-link--active(href='/') Trang chủ
          li.nav-item
            a.nav-link.header__nav-link(href='/products') Sản phẩm
            +sub-menu(layoutProductsCategory)
          each item in layoutProductsCategory
            li.nav-item
              a.nav-link.header__nav-link(href=`/products/${item.slug}`) #{item.title}
            
          
      .header__actions.d-flex.align-items-center
        button.header__actions-btn.js-search-trigger(type="button")
          i.fas.fa-search
        button.header__actions-btn
          i.far.fa-heart
        button.header__actions-btn
          i.fas.fa-shopping-bag
          span.badge.rounded-pill.header__badge 2
  .search-overlay#search-overlay
    .search-overlay__inner
        .container
            //- Form tìm kiếm
            form(action="/search" method="GET")
                .search-bar-wrapper
                    i.fas.fa-search.search-icon
                    input.form-control.search-input(
                        type="text" 
                        name="keyword" 
                        placeholder="Tìm kiếm sản phẩm..." 
                        autocomplete="off"
                    )
                    //- Nút đóng (X)
                    button.btn-close-search.js-close-search(type="button")
                        i.fas.fa-times

            //- Phần từ khóa nổi bật
            .search-suggestions.mt-4
                h6.fw-bold.mb-3 Từ khóa nổi bật
                .d-flex.flex-wrap.gap-2
                    a.tag-item(href="/products?keyword=áo phông") Áo phông
                    a.tag-item(href="/products?keyword=hoodie") Hoodie
                    a.tag-item(href="/products?keyword=áo khoác") Áo khoác
                    a.tag-item(href="/products?keyword=6LB22W001") 6LB22W001